@using System.Collections.Generic
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@model Workflow_Models.Models.User
@{
    ViewData["Title"] = "Log in";
}
<h2 style="visibility: hidden;">sdf</h2>

@*<h2>@ViewData["Title"].</h2>*@

    <div>

        @*@Html.React("Login", new
       {
           initialAnswers = Model,
           url = Url.Action("Login"),
       })*@

        <div class="wrapper-login">
                <div class="login">
                        @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {
                        <div class="container">
                            <img src="http://i.imgur.com/6FHIXpn.png" />
                        </div>

                        <div class="container">
                            <div>
                                @Html.TextBoxFor(e => e.Email, new { @placeholder = "Email" })
                            </div>
                            <div>
                                @Html.PasswordFor(e => e.Password, new { @placeholder = "Password" })
                            </div>
                        </div>

                        <div class="container">
                            <button type="submit" value="Post"> LOG IN</button>
                        </div>
                        }
                    </div>
            </div>

        <div>
            <link href="~/css/styles.css" rel="stylesheet" />
            <link href="~/css/site.css" rel="stylesheet" />
            @*<script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.3.2/react.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.3.2/react-dom.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/remarkable/1.7.1/remarkable.min.js"></script>
            <script src="@Url.Content("~/js/LoginPage.jsx")"></script>*@
           @* @Html.ReactInitJavaScript()*@
            
        </div>

    </div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
