@model List<Workflow_Models.Models.Document>

@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@foreach (var doc in Model)
{
        <li>@doc.FileName   -    @doc.Status.Stat    -   @doc.Status.VersionType</li>
        <form method="post">
            <input type="hidden" name ="id" value="@doc.ID"/>

            <button asp-action="Preview" asp-controller="WorkZone">Preview</button>

            @if (@doc.Status.Stat.ToString() == "FINAL")
            {
                <button asp-action="SetToDraft" asp-controller="WorkZone">Set to draft</button>
            }
            <button asp-action="ChangeFileToFinal" asp-controller="WorkZone">Set to final</button>
            <button asp-action="DeleteFile" asp-controller="WorkZone">Delete file</button>
        </form>

}


<form method="post" asp-action="AddFile" asp-controller="WorkZone" enctype="multipart/form-data">

    <input type="file" name="files" multiple />
    <label>Other</label>
    <textarea name="abs"></textarea>
    <label>Keywords</label>
    <textarea name="key"></textarea>
    <div>
        <input type="submit" value="Upload" />
    </div>
</form>
@Model.Capacity
@Html.React("Work", new
{
    intitialData = @Model,
    name = @Model.Capacity,
    url = Url.Action("Work"),
    submitUrl = Url.Action("AddFile"),
    pollInterval = 2000,
})

<script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.3.2/react.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.3.2/react-dom.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/remarkable/1.7.1/remarkable.min.js"></script>
    <script src="@Url.Content("~/js/WorkPage.jsx")"></script>
 @Html.ReactInitJavaScript()